@import url(reset.css);


[class*="__container"]{
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}


.main__body{
	padding: 20px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header__title,
.main__title{
	text-align: center;
	padding: 20px 0;
	font-size: 26px;
	text-transform: uppercase;
	line-height: 1.6;
	margin-bottom: 30px;
}


@media (max-width: 500px) {
	.header__title,
	.main__title{
		font-size: 20px;
	}
}

.main__content{
	width: 300px;
	height: 300px;
	background-color: rgba(0, 0, 0, 0.3);
	margin-bottom: 100px;
}


@media (max-width: 500px) {
	.main__content{
		width: 150px;
		height: 150px;
	}
}

.main__content > div{
	width: 100%;
	height: 100%;
	transition: all 400ms;
}


.main__transform{
	background-color: rebeccapurple;
}

.main__transform:hover{
	background-color: rebeccapurple;
	transform: translate(20px, -100px);
	transition: all 400ms;
}

.main__skew{
	background-color: rgb(54, 42, 151)
}
.main__skew:hover{
	background-color: rgb(54, 42, 151);
	transform: skew(-50deg);
}


.main__rotate{
	background-color: rgb(44, 151, 42)
}




.main__rotate:hover{
	background-color: rgb(44, 151, 42);
	transform: rotate(45deg);
}



.main__seeil{
	background-color: rgb(5, 38, 62);
}


.main__seeil:hover{
	background-color: rgb(5, 38, 62);
	transform: scale(1.2);
}


.main__multi{
	background-color: rgb(62, 31, 5);
}


.main__multi:hover{
	background-color: rgb(62, 31, 5);
	transform: scale(0.8) rotate(180deg) skew(50deg);
	border-radius: 50%;
}